@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,700;1,800&display=swap');

.topo {
    width: 1575px;
    height: 120px;
    left: 345px;
    
}

.topo h1 {
    font-family: Poppins;
    color: #FFFFFF;
    ;
}
.rota3 {
    background: var(--color-gray-3, #FAFAFA);
    width: 1920px;
    height: 1080px;
    top: 1967px;
    left: -414px;
   
    border-radius: 50px 50px 0px 0px;
    position: absolute;


   
}
