@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,700;1,800&display=swap');

.topo {
    font-family: Poppins;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    margin-left: 120px;
    background: var(--color-white, #FFF);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    top: 0px;
    left: 0px;
    z-index: 100;
   
}

.topo h2 {
    color: var(--color-black, #374557);
    /* Heading/Heading 1 */
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 100px;
}
form div {
    display: flex;
    flex-direction: column;
}
  
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0 10px;
}
 
.unidade-geradora{
    width: 374px;
    height: 112px;
    flex-shrink: 0;
}

.unidade-geradora label{
    width: 369px;
    height: 17px;
    flex-shrink: 0;
    color: var(--Black-0, #53575D);
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 75% */
}

.unidade-geradora select{
    width: 319.9px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--Black-0, #53575D);
    background: var(--White--1, #FBFCFF);
}